* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(36, 34, 34);
    --tertiary-color: rgb(0, 0, 0);
    --fourth-color: rgb(151, 3, 3);
}

body {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    background: var(--tertiary-color);
    font-weight: 300;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

/*Begin header style */

header {
    padding: 5px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    /* position: sticky;
    position: -webkit-sticky; */
    top: 0;
    z-index: 9999;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 3em;
    text-transform: uppercase;
}

header nav {
    display: flex;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

header nav ul li a:hover {
    border-bottom: solid 3px var(--fourth-color);
}

/*End header style*/

/*Begin hero style*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-transform: uppercase;
    background: var(--primary-color);
} 

.center {
    text-align: center;
}

.hero-hello-span {
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    color: var(--tertiary-color);
    font-size: 65px;
}

 .hero-name {
    font-size: 45px;;
    color: var(--tertiary-color);
}

.hero p {
    color: var(--fourth-color);
    padding-top: 10px;
    font-weight: 300;
    font-size: 35px;
}

/*End hero style */

/*Begin  about-me section */
.color-background-about {
    background-color: var(--fourth-color);
}
.about-flex-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    border: solid 40px var(--tertiary-color);
}

.bio {
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    color: var(--primary-color);
}

img {
    width: 60%;
    border: 5px solid var(--tertiary-color);
}

.image-holder {
    text-align: center;
    padding-left: 0px;
    
}

/* end About me section */

/* Begin work section */


.work-header {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    padding-bottom: 40px; 
}

.work-header h2 {
    width: 100%;
    border-bottom: 3px solid var(--fourth-color);
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.work-header h2 span {
    background: var(--tertiary-color);
    padding: 0 10px;
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
.work-flex-container {
    padding-bottom: 30px;
}

.work-flex-container ul {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

.work-flex-container ul li {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 2em;
    text-align: center;
}
.work-flex-container ul li a h3 {
    
    font-weight: 400;
}
.work-flex-container ul li a h3:hover {
    background-color: var(--fourth-color);
}


.first-image {
    background-image: url("../images/run-buddy.jpg");
  
}

.second-image {
    background-image: url("../images/PasswordGenerator.JPG");
    
}

.third-image {
    background-image: url("../images/RobotGladiators.JPG");
   
}

.fourth-image {
    background-image: url("../images/Cravings.JPG");
    
}



/* End work section */

/* Begin contact-info section */
#contact-me {
    background-color: var(--primary-color);
    padding: 5px;
    border-bottom: solid 30px var(--fourth-color);
}

.contact-grid-container {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    grid-template-rows: (1, 10vw);
    grid-gap: 35px;
    margin: 40px 40px 40px 20px;
}

.item-contact {
    grid-column: 1/2;
}
.item-contact h2 {
    
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    text-align: center;
    color: var(--tertiary-color);
}

.item-contact-info {
    grid-column: 2/6;
}

.item-contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    list-style: none;
}

.item-contact-info ul li a, .item-contact-info ul li h4 {
    display: flex;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 1.65vw;
    text-align: center;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--fourth-color);
    margin: 0 30px 0 30px;
}

/* End contact section */

/*Footer style*/

footer {
    background-color: var(--tertiary-color);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

footer h2 {
    font-weight: lighter;
    padding: 10px 10px 10px 10px;
    color: var(--primary-color);
    font-style: italic;
    
}

footer span {
    /* font-weight: 700; */
    font-size: 30px;
    padding-left: 10px;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
}

/* End footer style */

@media screen and (max-width: 768px) {
    .about-flex-container {
        flex-wrap: wrap;

    }
    .bio {
        text-align: center;
    }
    .grid-item {
        display: flex;
        /* background-color: gray;  */
        padding: .15em;
    }
    .item-header {
        font-size: 25px;
        text-align: center;
        align-items: center;
        /*non-main axis -up/down centering */
        justify-content: center;
        /* main axis-in this case x axis */
        border-right: none;
        grid-row: 1/2;
        /* display: inline-block; */
    }
    .item-selfie img {
        width: 75%;
        max-height: 75%;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    .item-selfie {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item-bio {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item-bio p {
        font-size: 15px;
        text-align: left;
        line-height: 1.5;
        font-style: lighter;
    }